*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f4f7fc;
  display:flex;
  min-height:100vh;
  color:#222;
}

/* SIDEBAR */

.sidebar{
  width:270px;
  background:white;
  border-right:1px solid #ddd;
  transition:0.4s;
  overflow:hidden;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.sidebar.close{
  width:90px;
}

.logo-area{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  border-bottom:1px solid #eee;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:22px;
  font-weight:bold;
  color:#6c63ff;
}

.toggle-btn{
  width:40px;
  height:40px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#eef2ff;
  transition:0.3s;
}

.toggle-btn:hover{
  background:#6c63ff;
  color:white;
}

.menu{
  padding:20px 10px;
}

.menu button{
  width:100%;
  border:none;
  background:transparent;
  padding:16px;
  margin-bottom:12px;
  border-radius:12px;
  cursor:pointer;
  text-align:left;
  display:flex;
  align-items:center;
  gap:15px;
  font-size:16px;
  transition:0.3s;
  color:#333;
}

.menu button:hover{
  background:#6c63ff;
  color:white;
}

.menu button i{
  min-width:30px;
  font-size:20px;
}

.sidebar.close .logo-text,
.sidebar.close .menu button span{
  display:none;
}

.sidebar.close .menu button{
  justify-content:center;
}

/* MAIN CONTENT */

.main-content{
  flex:1;
  padding:25px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.profile{
  display:flex;
  align-items:center;
  gap:10px;
  background:white;
  padding:10px 15px;
  border-radius:12px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.profile img{
  width:40px;
  height:40px;
  border-radius:50%;
}

/* CARDS */

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-bottom:30px;
}

.card{
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 2px 12px rgba(0,0,0,0.05);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.clickable-card{
  cursor:pointer;
}

.card i{
  font-size:28px;
  margin-bottom:15px;
}

.card h2{
  font-size:35px;
  margin-bottom:10px;
}

.purple{
  border-left:5px solid #6c63ff;
}

.blue{
  border-left:5px solid #00bcd4;
}

.green{
  border-left:5px solid #00c853;
}

.orange{
  border-left:5px solid #ff9800;
}

/* TABLE */

.table-box{
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 2px 12px rgba(0,0,0,0.05);
}

.table-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.add-btn{
  border:none;
  background:#6c63ff;
  color:white;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
}

table th,
table td{
  padding:15px;
  text-align:left;
  border-bottom:1px solid #eee;
}

table th{
  color:#666;
}

.verified,
.pending,
.rejected{
  padding:6px 12px;
  border-radius:20px;
  font-size:13px;
  font-weight:bold;
}

.verified{
  background:#d4f8e8;
  color:#00a152;
}

.pending{
  background:#fff4d6;
  color:#ff9800;
}

.rejected{
  background:#ffe1e1;
  color:#e53935;
}
/*staff form */

/* ADMIN FORM */

.admin-form-box{
  background:white;
  padding:35px;
  border-radius:20px;
  max-width:650px;
  margin:auto;
  box-shadow:0 2px 12px rgba(0,0,0,0.08);
}

.admin-form-box h2{
  margin-bottom:25px;
  color:#6c63ff;
}

.input-group{
  margin-bottom:20px;
}

.input-group label{
  display:block;
  margin-bottom:8px;
  font-weight:bold;
}

.input-group input{
  width:100%;
  padding:14px;
  border:1px solid #ddd;
  border-radius:12px;
  font-size:15px;
}

.form-buttons{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
  margin-top:25px;
}

.form-buttons button{
  flex:1;
  border:none;
  padding:14px;
  border-radius:12px;
  cursor:pointer;
  color:white;
  font-size:16px;
  font-weight:bold;
}

.create-btn{
  background:#6c63ff;
}

.reset-btn{
  background:#ff9800;
}

.back-btn{
  background:#00bcd4;
}
.analysis-container{
  margin-top:30px;
}

.analysis-container h2{
  margin-bottom:15px;
}

.analysis-table-box{
  background:white;
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.analysis-table-box h3{
  margin-bottom:10px;
  color:#6c63ff;
}

.analysis-table-box table{
  width:100%;
  border-collapse:collapse;
}

.analysis-table-box th,
.analysis-table-box td{
  padding:12px;
  border-bottom:1px solid #eee;
  text-align:left;
}

.analysis-table-box th{
  background:#f4f7fc;
}
